

node_modules/

google-sigin-demo/node_modules/

5d5a16f53708a8026367ad69-803.png
output
~$*
/uploads/doctos/*.png
/uploads/doctos/*.jpg
/uploads/empresas/*.png
/uploads/empresas/*.jpg
/uploads/equipos/*.png
/uploads/equipos/*.jpg
/uploads/estadios/*.png
/uploads/estadios/*.jpg
/uploads/images/*.png
/uploads/images/*.jpg
/uploads/tarjeta-logo/*.png
/uploads/tarjeta-logo/*.jpg
/uploads/tarjeta-avatar/*.png
/uploads/tarjeta-avatar/*.jpg
/uploads/tarjeta-icono/*.png
/uploads/tarjeta-icono/*.jpg
/uploads/PDF/*.pdf